<div style="overflow:hidden;vertical-align:top;">
  <h2>
    <% image_style = "float:left;margin-right:1em;margin-bottom:1em;" %>
    <%= link_to image_tag("http://api.thumbalizr.com/?api_key=ebddac5af4f9e9d1ff38cb98110250d2&url=#{publisher.url}&width=400", :height => 200, :style => image_style), publisher %>
    <span style="horizontal-align:center">
      <%= link_to publisher.title, publisher %>
      [<%= link_to 'Add Webpage', new_webpage_path(:publisher_id => publisher.id) %>]
      [<%= link_to 'Add Photo', new_photo_path(:publisher_id => publisher.id, :webpage_id => 'input_url') %>]

    </span>
  </h2>
  <p>
    <%= publisher.body %>
  </p>

  <% num = publisher.webpages.size %>
  <% if num > 0 %>
    <% publisher.webpages.each do |webpage| %>
      <%= link_to image_tag("http://api.thumbalizr.com/?api_key=ebddac5af4f9e9d1ff38cb98110250d2&url=#{webpage.url}&width=400", :height => 100), webpage %>
    <% end %>
  <% end %>
</div>
