<p id="notice"><%= notice %></p>

<h1><span style="horizontal-align:center">Publisher: <%= @publisher.title %></span></h1>

<p>
  <b>Url:</b>
  <%= link_to @publisher.url, @publisher.url %>
</p>

<p>
  <%= @publisher.body %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Delete', @publisher, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back to Publishers', publisher_path %>

<hr>

<h2>
  Webpages (<%= @publisher.webpages.size %>)
  [<%= link_to 'Add Webpage', new_webpage_path(:publisher_id => @publisher.id) %>]
  [<%= link_to 'Add Photo', new_photo_path(:publisher_id => @publisher.id, :webpage_id => 'input_url') %>]
</h2>

<%= render @publisher.webpages %>
