<h1>Welcome#index</h1>

Welcome:
<br />
::Rails.root.to_s = <%= ::Rails.root.to_s %>
<br />

<%= link_to "demo/host_settings", "demo/host_settings" %><br>
<%= link_to "demo/host_scan", "demo/host_scan" %><br>
<%= link_to "demo/site_urls", "demo/site_urls" %><br>
<%= link_to "demo/emails", "demo/emails" %><br>
<%= link_to "demo/emails/new", "demo/emails/new" %><br>
