<p id="notice"><%= notice %></p>

<h1><span style="horizontal-align:center"><%= @gallery.title %></span></h1>

<p>
  <%= @gallery.body %>
</p>

<b>User:</b>
<%= @gallery.user_id %><br/>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back to Galleries', galleries_path %>

<hr>

<% num = @gallery.photos.size %>
<% if num > 0 %>
  <% @gallery.photos.each do |photo| %>
    <div style="display:inline-block;">
      <%= link_to image_tag(photo.photo_url, :height => 150), photo %>
    </div>
  <% end %>
<% end %>

<%
publishers = []
@gallery.photos.map do |photo|
  begin
    publishers << photo.webpage.publisher
  rescue
    nil
  end
end
publishers.uniq!
publishers.reject!{|p| p.nil? }
%>

<% if publishers.size > 0 %>
  <br/>
  <h2>Publishers (<%= publishers.size %>)</h2>
  <%= render publishers %>
<% end %>